.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    width: 400px;
    max-height: 90vh; /* Limits the height to 90% of the viewport height */
    overflow-y: auto; /* Adds a scrollbar if content is too tall */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.closeButton {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.formGroup {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Error message styling */
.errorText {
    display: block;
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.modalFooter {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 30px;
}

.cancelButton, .createButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 48%;
    box-sizing: border-box;
}

.cancelButton {
    background-color: #f0f0f0;
}

.createButton {
    background-color: #4CAF50;
    color: white;
}

.createButton:hover {
    background-color: #45a049;
}

.addButton {
    background-color: white;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
}
